@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);
body {
    background-color: rgb(134, 105, 65);
}
h1{
	   color: rgb(188, 0, 0);
	   font-family: 'Black Ops One', cursive;
	   font-size: 48pt;
	   text-align: center
}